<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
          name="transactionManagerEndpoint"
          address="net.tcp://localhost:12345/ITransactionManager"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.Transaction.ITransactionManager">
      </endpoint>
      <endpoint
          name="valueExtractorEndpoint"
          address="net.tcp://localhost:23232/INetworkDynamicsService"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.NetworkDynamicsService.IFieldValuesProcessing">
      </endpoint>
      <endpoint
          name="gdaQueryEndpoint"
          address="net.tcp://localhost:11112/NetworkModel/INetworkModelGDAContract"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.INetworkModelGDAContract">
      </endpoint>
    </client>
    <services>
      <service name="FieldProcessor.FieldProcessor">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12121/IFieldProcessor"/>
          </baseAddresses>
        </host>
        <endpoint address="ITransaction"
                  binding="netTcpBinding"
                  contract="Common.ServiceInterfaces.Transaction.ITransaction"/>
        <endpoint address="ICommanding"
                  binding="netTcpBinding"
                  contract="Common.SCADA.FieldProcessor.ICommanding"/>
        <endpoint address="IModelPromotionParticipant"
                  binding="netTcpBinding"
                  contract="Common.ServiceInterfaces.IModelPromotionParticipant"/>
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
