<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="uiAdapterEndpointAnalog"
                address="net.tcp://localhost:13333/IUIAdapter/IAnalogRemotePointSummaryJob"
                binding="netTcpBinding"
                contract="Common.ServiceInterfaces.UIAdapter.SummaryJobs.IAnalogRemotePointSummaryJob">
      </endpoint>
      <endpoint name="uiAdapterEndpointDiscrete"
                address="net.tcp://localhost:13333/IUIAdapter/IDiscreteRemotePointSummaryJob"
                binding="netTcpBinding"
                contract="Common.ServiceInterfaces.UIAdapter.SummaryJobs.IDiscreteRemotePointSummaryJob">
      </endpoint>     
      <endpoint name="uiAdapterSchemaEndpoint" 
                address="net.tcp://localhost:13333/IUIAdapter/ISchema" 
                binding="netTcpBinding" 
                contract="Common.ServiceInterfaces.UIAdapter.ISchema"/>     
      <endpoint name="uiAdapterDERGroupEndpoint"
                address="net.tcp://localhost:13333/IUIAdapter/IDERGroupSummaryJob"
                binding="netTcpBinding"
                contract="Common.ServiceInterfaces.UIAdapter.SummaryJobs.IDERGroupSummaryJob">
      </endpoint>
      <endpoint name="uiAdapterBreakerCommanding"
                address="net.tcp://localhost:13333/IUIAdapter/IBreakerCommanding"
                binding="netTcpBinding"
                contract="Common.ServiceInterfaces.UIAdapter.IBreakerCommanding">
      </endpoint>
    </client>
  </system.serviceModel>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1909" newVersion="8.0.0.1909" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1909" newVersion="8.0.0.1909" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
