<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
          name="transactionManagerEndpoint"
          address="net.tcp://localhost:12345/ITransactionManager"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.Transaction.ITransactionManager">
      </endpoint>
      <endpoint
          name="scadaEndpoint"
          address="net.tcp://localhost:12121/IFieldProcessor/IModelPromotionParticipant"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.IModelPromotionParticipant">
      </endpoint>
      <!-- TODO ADD ALL SERVICES WHICH ARE PARTICIPATING IN TRANSACTION
          <endpoint 
          name="endpointName1"
          address="net.tcp://localhost:XXXXX/IModelPromotionParticipant"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.IModelPromotionParticipant">
      -->
    </client>
    <services>
      <service name="NetworkManagementService.NetworkModel">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11112/NetworkModel"/>
          </baseAddresses>
        </host>
        <endpoint address="ITransaction"
                  binding="netTcpBinding"
                  contract="Common.ServiceInterfaces.Transaction.ITransaction"/>
        <endpoint address="INetworkModelDeltaContract"
                  binding="netTcpBinding"
                  contract="Common.ServiceInterfaces.INetworkModelDeltaContract"/>
        <endpoint address="INetworkModelGDAContract"
                  binding="netTcpBinding"
                  contract="Common.ServiceInterfaces.INetworkModelGDAContract"/>
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>