<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="NetworkManagementService.NetworkModel">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12121/NetworkModel"/>
          </baseAddresses>
        </host>
        <endpoint address="/GDA"
                  binding="netTcpBinding"
                  contract="Common.ServiceInterfaces.INetworkModelGDAContract"/>
        <endpoint address="/Delta"
                  binding="netTcpBinding"
                  contract="Common.ServiceInterfaces.INetworkModelDeltaContract"/>
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>