<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CET" value="net.tcp://localhost:23350/CEDynamicsService"/>
    <add key="CEM" value="net.tcp://localhost:22350/CEDynamicsService"/>
    <add key="SCADAT" value="net.tcp://localhost:20102/NDSService"/>
    <add key="NMST" value="net.tcp://localhost:23440/NetworkModelServiceSF"/>
    <add key="SCADAM" value="net.tcp://localhost:20101/NDSService"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint
          name="transactionManagerEndpoint"
          address="net.tcp://localhost:12345/ITransactionManager"
          binding="netTcpBinding"
          contract="Core.Common.ServiceInterfaces.Transaction.ITransactionManager">
      </endpoint>
      <endpoint
          name="scadaEndpoint"
          address="net.tcp://localhost:12121/IFieldProcessor/IModelPromotionParticipant"
          binding="netTcpBinding"
          contract="Core.Common.ServiceInterfaces.NMS.IModelPromotionParticipant">
      </endpoint>
      <endpoint
          name="ndsEndpoint"
          address="net.tcp://localhost:21321/INetworkDynamicsService/IModelPromotionParticipant"
          binding="netTcpBinding"
          contract="Core.Common.ServiceInterfaces.NMS.IModelPromotionParticipant"/>
      <endpoint
        name="uiAdapterEndpoint"
        address="net.tcp://localhost:13333/IUIAdapter/IModelPromotionParticipant"
        binding="netTcpBinding"
        contract="Core.Common.ServiceInterfaces.NMS.IModelPromotionParticipant">
     </endpoint> 
      <endpoint 
          name="calculationEngineEndpoint"
          address="net.tcp://localhost:14621/ICalculationEngine/IModelPromotionParticipant"
          binding="netTcpBinding"
          contract="Core.Common.ServiceInterfaces.NMS.IModelPromotionParticipant"/>
      
      <!-- TODO ADD ALL SERVICES WHICH ARE PARTICIPATING IN TRANSACTION
          <endpoint 
          name="endpointName1"
          address="net.tcp://localhost:XXXXX/IModelPromotionParticipant"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.IModelPromotionParticipant">
      -->
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>