<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
          name="transactionManagerEndpoint"
          address="net.tcp://localhost:12345/ITransactionManager"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.Transaction.ITransactionManager">
      </endpoint>
      <endpoint
          name="gdaQueryEndpoint"
          address="net.tcp://localhost:11112/NetworkModel/INetworkModelGDAContract"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.INetworkModelGDAContract">
      </endpoint>
      <endpoint
          name="ndsCommanding"
          address="net.tcp://localhost:21321/INetworkDynamicsService/ICommanding"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.NetworkDynamicsService.Commands.INDSCommanding">
      </endpoint>
    </client>
    <services>
      <service name="CalculationEngine.CalculationEngine">
        <endpoint 
          address="ITransaction" 
          binding="netTcpBinding" 
          contract="Common.ServiceInterfaces.Transaction.ITransaction" />
        <endpoint 
          address="IModelPromotionParticipant" 
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.IModelPromotionParticipant" />
        <endpoint 
          address="ISchemaRepresentation" 
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.CalculationEngine.ISchemaRepresentation" />
        <endpoint 
          address="IBreakerCommanding" 
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.CalculationEngine.IBreakerCommanding" />
        <endpoint
          address="IDERCommanding"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.CalculationEngine.IDERCommandingProcessor" />
        <endpoint
          address="IDEROptimalCommanding"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.CalculationEngine.IDEROptimalCommanding" />
        <endpoint
          address="IProductionForecast"
          binding="netTcpBinding"
          contract="Common.ServiceInterfaces.CalculationEngine.IProductionForecast" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:14621/ICalculationEngine" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
