<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TransactionManager.TransactionManager">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12345/ITransactionManager"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Common.ServiceInterfaces.Transaction.ITransactionManager"/>
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
